@import "../../../styles/settings.scss";

.pokedexData {
  margin-top: 80px;
  font-family: $font_press_start_2p;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.pokemonImage {
  max-width: $pokedexData-image-width;
  max-height: $pokedexData-image-height;
  object-fit: cover;
}

.pokdex {
  margin-top: 75px;
}

@media (max-width: 991px) {
  .pokedexData {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .pokemonImage {
    width: $pokedexData-image-width-mobile;
    height: $pokedexData-image-height-mobile;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .pokdex {
    font-size: 12px;
  }
}