@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Hachi+Maru+Pop&family=Press+Start+2P&display=swap');

// FONT STYLES
$font_bangers: 'Bangers', cursive; // main-page, titles
$font_hachi_maru_pop: 'Hachi Maru Pop', cursive; // main-page
$font_press_start_2p: 'Press Start 2P', cursive; // pokedex

// COLORS
$chi-gong: #d63031;
$black: #000000;

// HEADER - settings
$header-link-color: $chi-gong;

// POKEMON - settings
$pokemon-link-color: $black;
$pokemon-hover-color: $chi-gong;
$pokemon-border-color: $chi-gong;