@import "../../../styles/settings.scss";

.homepageLink {
  font-size: 56px;
  font-family: $font_bangers;
  color: $header-title-color;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  &:hover {
    text-decoration: none;
  }
}
